$white: #fff;
$american-silver: #cecece;
$sambucus: #1b1d2e;
$black-blueberry: #2d3047;
$coronation: #ececec;
$golden-apricot: #e0a458;
$greenway: #419d78;
$snowy-mountain: #f2efea;

$highlight: $golden-apricot;
$highlight-secondary: $greenway;

$background-light: $snowy-mountain;
$background-dark: $sambucus;
$background-medium: $black-blueberry;

$menu-active: $white;
$menu-inactive: $american-silver;

$body-light: $coronation;
$body-dark: $black-blueberry;

$navbar-height: 50px;
$footer-height: 500px;
$container-padding: 20px;
$section-padding: 80px;
$section-padding-mobile: 40px;
$container-width: 1200px;
$transition-duration: 250ms;
