@import "../../styles/variables.scss";

.navbar {
  background-color: $background-dark;
  height: $navbar-height;

  &-container {
    display: flex;
    height: 100%;
  }

  &-menu {
    display: flex;
    flex-grow: 0;
    margin-left: auto;
    margin-right: -1rem;
  }

  &-menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-menuLink {
    color: $menu-inactive;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 0.4px;
    transition: all $transition-duration ease-in-out;

    &:hover,
    &--active {
      color: $menu-active;
    }
  }
}
